:root {
  /* --background: #ffffff;
   */
  --background: #111418;
  --nav-color: #283039;
  --nav-sub-color: #3b4754;
  /* --foreground: #171717; */
  --sub-foreground: #7f95ad;
  --foreground: #ededed;
  --green-color: #22c55e;

  --blue-background: #137fec;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111418;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
